<div>
	<input id="idoculta" type="text" maxlength="50" class="form-control" value='{{id}}' hidden>
	<label class="control-label" for="newnombres"><b>Nombre </b></label>
	<input id="newnombres" type="text" maxlength="50" class="form-control" value='{{nombres}}'>
</div>
<div>
	<label class="control-label" for="newciudad"><b>Ciudad</b></label>
	<input id="newciudad"' type="text" maxlength="50" class="form-control" value='{{ciudad}}'>
</div>
<div>	
	<input type="radio" id='radiomod1' name="alternativas" value="M" {{seleccionarSexo sexo "M"}}> 
	<label for='radiomod1'><b>Masculino</b></label>
	
	<input type="radio" id='radiomod2' name="alternativas" value="F" {{seleccionarSexo sexo "F"}}> 
	<label for='radiomod2'><b>Femenino</b></label>
</div>
<div>
	<label class="control-label" for="newtelefono"><b>Telefono</b></label>
	<input id="newtelefono" type="text" maxlength="25" class="form-control" length="40" value='{{telefono}}'>
</div>
<div>
	<label class="control-label" for="newfecha"><b>Fecha de nacimiento</b></label>
	<input id="newfecha" type="text" maxlength="25" class="form-control" value='{{convertirFecha fecha_nacimiento}}'>
</div>
<div>
	<label class="control-label" for="newdireccion"><b>Direccion</b></label>
	<input id="newdireccion" type="text" maxlength="25" class="form-control" value='{{direccion}}'>
</div>
<div>
	<label class="control-label" for="newprovincia"><b>Provincia</b></label>
	<input id="newprovincia" type="text" maxlength="25" class="form-control" value='{{provincia}}'>
</div>
<div>	
	<input id="newfechaalta" type="text" maxlength="25" class="form-control" value='{{fecha_alta}}' hidden>
</div>
<div>
	<button type='button' class='btn waves-effect waves-light' id="okmodifyuser" value="submit">Modificar</button>
	<input type="reset" class='btn waves-effect waves-light' id='canceluser' value='Cancelar'>
</div>
