<div class="container">
<a class='btn-floating waves-effect waves-red modal-trigger pulse red' id='modaluserbutton' href='#modaluser'> <i class="fas fa-plus-circle"></i></a>
	<table class="hightlight hide-on-med-and-down tableview">
	  <thead>
	    <tr>		      
	      <th>NOMBRES</th>
	      <th>CIUDAD</th>
	      <th>SEXO</th>
	      <th>TELEFONO</th>
	      <th>FECHA DE NACIMIENTO</th>
		  <th>DIRECCION</th>
	      <th>PROVINCIA</th>
	      <th>FECHA DE ALTA</th>      
	      <th></th>	      	      
	    </tr>
	  </thead>
	  <tbody>	  
		{{#each this}}
		{{#if this}}
		<tr>			
			<td>{{this.nombres}}</td>
			<td>{{this.ciudad}}</td>
			<td>{{this.sexo}}</td>
			<td>{{this.telefono}}</td>
			<td>{{convertirFecha this.fecha_nacimiento}}</td>
			<td>{{this.direccion}}</td>	
			<td>{{this.provincia}}</td>	
			<td>{{convertirFecha this.fecha_alta}}</td>     
			<td> <a class="fas fa-edit editarIc waves-effect waves-light modal-trigger" href='#modaluser' data-id='{{this.id}}'></a>
			<i class="fa fa-window-close borrarIc" data-id='{{this.id}}'></i> <a class="fas fa-map-marker mapIc waves-effect waves-light modal-trigger" href='#modalmap' data-id='{{this.direccion}}'></a></td>	
		</tr>
		{{/if}}	
		{{/each}}	

 	  </tbody>
	</table>
	<table class="table hide-on-large-only tableview">
	<tbody class="d-md-none">
			{{#each this}}
			{{#if this}} 	  		
			<tr>		      
		      <th>NOMBRES</th>
		      <td>{{this.nombres}}</td>
		    </tr>
		    <tr>
		      <th>CIUDAD</th>
		      <td>{{this.ciudad}}</td>
		 	</tr>
		  	<tr>
		      <th>SEXO</th>
		      <td>{{this.sexo}}</td>
		    </tr>
		    <tr>
		      <th>TELEFONO</th>
		      <td>{{this.telefono}}</td>
		  </tr>
		  <tr>
		      <th>FECHA DE NACIMIENTO</th>
		      <td>{{convertirFecha this.fecha_nacimiento}}</td>
		  </tr>	
		  <tr>
			<th>DIRECCION</th>	
	      	<td>{{this.direccion}}</td>
		  </tr>	
		  <tr>
		  	<th>PROVINCIA</th>
			<td>{{this.provincia}}</td>						  
		  </tr>
		  <tr>
		  	<th>FECHA DE ALTA</th> 	
		  	<td>{{convertirFecha this.fecha_alta}}</td>  
		  </tr>
		  <tr>
			<td> <a class="fas fa-edit editarIc waves-effect waves-light modal-trigger" href='#modaluser' data-id='{{this.id}}'></a>
			<i class="fa fa-window-close borrarIc" data-id='{{this.id}}'></i> <a class="fas fa-map-marker mapIc waves-effect waves-light modal-trigger" href='#modalmap' data-id='{{this.direccion}}'></a></td>			  
		  </tr> 
		  {{/if}}
		  {{/each}}
	  	</tbody> 
	</table>	  	  	
</div>
